.diversity {

  // .diversity__container

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  // .diversity__item

  &__item {
    grid-column: 1 span;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
