<section class="abonements">
    <div class="container">
        <h2 class="abonements__title">Start building muscles today with our new Packages</h2>
        <div class="abonements__list">
            <!-- 1 -->
            <div class="abonements__item">
                <div class="abonements__item1">
                    <h3 class="abonements__item1-title">Starter</h3>
                    <div class="abonements__item1-price">1500-rs / month</div>
                    <p class="abonements__item1-text">Includes Gym and Cardio</p>
                </div>
                <div class="abonements__wrapper">
                    <div class="abonements__item2">
                        <p class="abonements__item2-description">Validate for 30-days</p>
                        <p class="abonements__item2-description">Access to basic equipments</p>
                        <p class="abonements__item2-description">Under Trainer Surviliance</p>
                        <p class="abonements__item2-description">500/- Security deposit(Refundable)</p>
                    </div>
                    <div class="abonements__button">
                        <button class="abonements__button-item">Get Started Now</button>
                    </div>
                </div>
                
                
            </div>
            <!-- 2 -->
            <div class="abonements__item">
                <div class="abonements__item1">
                    <h3 class="abonements__item1-title">Pro</h3>
                    <div class="abonements__item1-price">7000-rs / 6-month</div>
                    <p class="abonements__item1-text">Includes Gym, Cardio and Weight-area</p>
                </div>
                <div class="abonements__wrapper">
                    <div class="abonements__item2">
                        <p class="abonements__item2-description">Validate for 185-days</p>
                        <p class="abonements__item2-description">Access to all equipments</p>
                        <p class="abonements__item2-description">Guided by Trainer</p>
                        <p class="abonements__item2-description">500/- Security deposit(Refundable)</p>
                    </div>
                    <div class="abonements__button">
                        <button class="abonements__button-item">Get Started Now</button>
                    </div>
                </div>
                
                
            </div>
            <!-- 3 -->
            <div class="abonements__item">
                <div class="abonements__item1">
                    <h3 class="abonements__item1-title">Premium</h3>
                    <div class="abonements__item1-price">10000-rs / year</div>
                    <p class="abonements__item1-text">Includes Gym, Cardio and Weight-area</p>
                </div>
                <div class="abonements__wrapper">
                    <div class="abonements__item2">
                        <p class="abonements__item2-description">Validate for 365-days</p>
                        <p class="abonements__item2-description">Access to all equipments and Weights</p>
                        <p class="abonements__item2-description">Includes personal Trainer</p>
                        <p class="abonements__item2-description">No Security deposit</p>
                    </div>
                    <div class="abonements__button">
                        <button class="abonements__button-item">Get Started Now</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>