<section class="contact">
  <div class="container contact__container">
    <h2 class="contact__title">We're happy to hear from you</h2>
    <form action="#" class="form">
      <label class="form__label">
        <div class="form__name">Name</div>
        <input type="text" name="name" class="input-reset form__input">
      </label>
      <label class="form__label">
        <div class="form__name">Email</div>
        <input type="email" name="email" class="input-reset form__input">
      </label>
      <label class="form__label">
        <div class="form__name">Phone</div>
        <input type="tel" name="phone" class="input-reset form__input">
      </label>
      <label class="form__label">
        <div class="form__name"> Any Query?</div>
        <textarea name="query" class="form__text" placeholder="Имя"> </textarea>
      </label>
      <button class="btn-reset form__btn">Send it!</button>
    </form>
  </div>
</section>
