<section class="diversity">
  <div class="diversity__container">
    <div class="diversity__item"><img src="img/diversity-1.jpg" alt=""></div>
    <div class="diversity__item"><img src="img/diversity-2.jpg" alt=""></div>
    <div class="diversity__item"><img src="img/diversity-3.jpg" alt=""></div>
    <div class="diversity__item"><img src="img/diversity-4.jpg" alt=""></div>
    <div class="diversity__item"><img src="img/diversity-5.jpg" alt=""></div>
    <div class="diversity__item"><img src="img/diversity-6.jpg" alt=""></div>
    <div class="diversity__item"><img src="img/diversity-7.jpg" alt=""></div>
    <div class="diversity__item"><img src="img/diversity-8.jpg" alt=""></div>
  </div>
</section>
