<header class="header">
  <div class="container header__container">
    <a href="index.html" class="logo">
      <img src="img/logo.png" alt="logo">
    </a>
    <div class="header__munu">
      <nav class="nav" title="nav" data-menu>
        <ul class="nav__list list-reset">
          <li class="nav__item"><a href="sign-up.html" class="nav__link">Join Now</a></li>
          <li class="nav__item"><a href="login.html" class="nav__link">Login</a></li>
        </ul>
      </nav>
    </div>
    <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
