<section class="join">
  <div class="container join__container">
    <h2 class="join__title"></h2>
    <div class="join__card">
      <div class="join__card-item">
        <img src="img/ac.svg" alt="ac" class="join__card-img">
        <h4 class="join__card-title">Fully AC</h4>
        <ul class="join__card-list card-list list-reset">
          <li class="card-list__item wifi">
            WiFi
          </li>
          <li class="card-list__item cardio">
            Cardio Theatre
          </li>
          <li class="card-list__item bath">
            Steam Bath
          </li>
        </ul>
      </div>
      <div class="join__card-item">
        <img src="img/diet.svg" alt="Diet-Plan" class="join__card-img">
        <h4 class="join__card-title">Diet-Plan</h4>
        <ul class="join__card-list card-list list-reset">
          <li class="card-list__item vegetarian">
            Vegetarian diet
          </li>
          <li class="card-list__item diet">
            Non-vegan diet
          </li>
          <li class="card-list__item supplements">
            Supplements
          </li>
        </ul>
      </div>
      <div class="join__card-item">
        <img src="img/body.svg" alt="All body types" class="join__card-img">
        <h4 class="join__card-title">All body types</h4>
        <ul class="join__card-list card-list list-reset">
          <li class="card-list__item ectomorph">
            Ectomorph
          </li>
          <li class="card-list__item mesomorph">
            Mesomorph
          </li>
          <li class="card-list__item endomorph">
            Endomorph
          </li>
        </ul>
      </div>
      <div class="join__card-item">
        <img src="img/fitness.svg" alt="Fitness-Programs" class="join__card-img">
        <h4 class="join__card-title">All body types</h4>
        <ul class="join__card-list card-list list-reset">
          <li class="card-list__item yoga">
            Yoga classes
          </li>
          <li class="card-list__item zumba">
            Zumba classes
          </li>
          <li class="card-list__item exercises">
            Group exercises
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
