<section class="login">
  <div class="container login__container">
    <div class="login__content">
      <h1 class="login__title">Login</h1>
      <div class="login__form-item">
        <form action="#" class="login__form">
          <label class="login__form-label">
            <input type="tel" name="phone" class="input-reset login__form-input" placeholder="Phone">
          </label>
          <label class="login__form-label">
            <input type="password" name="password" class="input-reset login__form-input" placeholder="Password">
          </label>
          <button class="btn-reset login__form-btn">Login</button>
        </form>
      </div>
    </div>
  </div>
</section>
