<section class="terms">
  <div class="container terms__container">
    <h2 class="terms__title">We're Providing best facilities to our customers</h2>
    <div class="terms__card">
      <div class="terms__card-item">
        <div class="terms__card-text">Being, the trainer of the KS-fitness-club shares my opinion that you'll feel
          comfortable with me,I train you, guide you and help you to lose weight, get stonger, improve physical
          performance, or maintain health, start making time with us today.</div>
        <p class="terms__card-descr">(having my words "Pain And Muscle Lead to Progress.")</p>
        <img src="img/trainer.png" alt="Trainer" class="terms__card-img">
        <div class="terms__card-pos">Trainer</div>
      </div>
      <div class="terms__card-item">
        <div class="terms__card-text">Being, the manager of the KS-fitness-club assure you that you won't be
          dissapointed after joining ks fitness club, I manages the club and memberships of every members. If you have
          any query just call here:+919149101356</div>
        <p class="terms__card-descr">(having my words "It's Not About Having Time, It's About Making Time.")</p>
        <img src="img/manager.png" alt="Manager" class="terms__card-img">
        <div class="terms__card-pos">Manager</div>
      </div>
      <div class="terms__card-item">
        <div class="terms__card-text">Being, the owner of the KS-fitness-club promising you that my team will always
          help you to be fit in less time like a family. Join us today and ready to get muscles and start you fitness
          plan today.
        </div>
        <p class="terms__card-descr">(having my words "The Only Bad Workout is the one That Didn't Happen.")</p>
        <img src="img/owner.png" alt="Owner" class="terms__card-img">
        <div class="terms__card-pos">Owner</div>
      </div>
    </div>
  </div>
</section>
